.ui.basic.pink.button,
.ui.basic.pink.buttons.animated .button {
  box-shadow: 0 0 0 1px $PURPLE inset !important;
  color: $PURPLE !important;
  &:hover {
    box-shadow: 0 0 0 1px $PURPLE inset !important;
    color: $PURPLE !important;
  }
}
